/* Claim Page */
.claim-page .claim-title {
    font-family: Inter UI Black;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 35px;
    text-align: center;
    color: #0078FF;    
    margin-top: 30px;
    margin-bottom: 50px;
}

.claim-page .token-icon {
    margin: auto;
}

.claim-page .button-subtitle {    
    margin-top: 20px;
    font-size: 18px;
    font-family: Inter UI Regular;
}

.claim-page .button-subtitle .bold {
    font-family: Inter UI Bold;
}


/* Pending Claim Page */
.claim-pending-page .title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.claim-pending-page .subtitle {
    margin-bottom: 30px;
}

.claim-pending-page .etherscan-details {
    margin-top: 10px;
}

/* Completed Claim Page */
.claim-completed-page .title {
    margin-top: 40px;
    margin-bottom: 30px;
}

