/* Claim Page */
.claim-page *{
    margin: auto;
    text-align: center;
}

.claim-page .claim-title {
    font-family: Inter UI Black;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 35px;
    text-align: center;
    color: #0078FF;
    
    margin-top: 30px;
    margin-bottom: 50px;
}

.claim-page .button-subtitle {    
    margin-top: 20px;
    font-size: 18px;
    font-family: Inter UI Regular;
}

.claim-page .button-subtitle .bold {
    font-family: Inter UI Bold;
}


/* Pending Claim Page */
.claim-pending-page .title {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Inter UI Black;
}

.claim-pending-page .subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: Inter UI Medium;
    color: #979797;
}


.claim-pending-page .text {
    font-size: 14px;
    font-family: Inter UI Regular;
    text-align: center;
    margin-bottom: 10px;
}

